<%= form_for @sub_category  do |s| %>
<div class="sub_category_creating">
  <%= s.label :title %>
  <%= s.text_field :title %>
</div>
<div class="sub_category_creating">
  <%= s.hidden_field :category_id%>
</div>
<div class="sub_category_creating">
  <%= s.submit "Create Sub_category" %>
</div>
<% end %>
